body {
  background-color: #f8e8a6;
}
h1 {
  text-align: center;
  color: black;
}

footer {
  color: green;
  text-align: center;
  display: block;
}
p {
  text-align: center;
}
img {
  display: block;
  margin: auto;
}
